body {
  text-align: center;
    box-sizing: border-box;
    padding: 3px 31px;
    margin: 30px;
    box-shadow: -1px 2px 20px 1px #e6510029;
  }
  .title{
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 50px;
  }
  .box-work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    gap:20px;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .image , .content h2{
    text-align: center;
    font-family: "Acme", sans-serif;
    color: #fc8624;
  }
  .Prices  div h4 {
    font-size: 20px;
  }
  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
 .work .box-work .box{
  background-color: #fff;
  padding:20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.work .box-work .box:hover .image img{
  transform: scale(1.1);
}
.pcs{
  display: inline-block;
  padding: 5px ;
}

button {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


  @media (max-width: 500px) {
    body {
      text-align: center;
      padding: 3px 2px;
    }
    .box-work {
      grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
    }
.Prices{
  grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));

}
  }
